<article
  class="card"
  role="button"
  tabindex="0"
  (click)="onPreview()"
  (keydown.enter)="onPreview()"
  (keydown.space)="$event.preventDefault(); onPreview()"
>
  <div class="card__image-wrapper">
    <img class="card__image" [src]="product.image" [alt]="'Referencia ' + product.reference" loading="lazy" />
  </div>

  <div class="card__content">
    <h3 class="card__title">REF: {{ product.reference }}</h3>
    <button class="btn-secondary card__button" type="button" (click)="onAddToCart($event)">
      Adicionar ao carrinho
    </button>
  </div>
</article>
