.catalog {
  padding: 2.8rem 0 3rem;
  background-color: rgb(235, 231, 231);
}

.catalog__header {
  display: grid;
  gap: 0.6rem;
  margin-bottom: 1.2rem;
}

.catalog__paginator {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1.2rem;
  border-radius: 5px;
  background-color: white;
}

.catalog__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 1080px) {
  .catalog__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 840px) {
  .catalog__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 560px) {
  .catalog__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
